body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    background: url('/static/bg.png') no-repeat center center fixed;
 
}

.container {
    margin-top: 50px;
    
}

h1 {
    font-size: 2em;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    background-color: #6a6a6abd;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background-color: #2bb5ffef;
}

#game-container {
    width: 600px;
    height: 400px;
    margin: 20px auto;
    background-color: #fff;
    border: 2px solid #ccc;
}

#score-board {
    margin-top: 20px;
}

#options-container {
    margin-top: 20px;
}

.option-btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    background-color: #2bb5ffef;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
}

.option-btn:hover {
    background-color: #555;
}

.correct {
    background-color: green;
}

.incorrect {
    background-color: red;
}
