<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select Alphabet Category</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
</head>
<body class="bg-common">
    <div class="container">
        <h1 style="color: white;">Select an Alphabet Category</h1>
        <div class="category-buttons">
            <a href="/mode/japanese/Hiragana" class="btn">Hiragana</a>
            <a href="/mode/japanese/Katakana" class="btn">Katakana</a>
            <a href="/category/japanese" class="btn">Return to Categories</a>
        </div>
    </div>
</body>
</html>
